@font-face {
  font-family: 'cupra-book';
  src: url('fonts/subset-Cupra-Book.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cupra-bold';
  src: url('fonts/subset-Cupra-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
strong{
  font-family: 'cupra-bold';
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  height: auto;
}

sup, sub {
  font-size: 50%;
}

html, body {
  width:300px;
  height:250px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background-color: #002d39;
  border: solid 1px #000000;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60
  0px;
  overflow:hidden;
}

.full-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: auto;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.copy {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.copy span {
  opacity: 0;
  visibility: hidden;
}
.cupra-book {
  font-family: 'cupra-book', sans-serif;
}
#text-1 {
  top: 111px;
  left: 12px;
  font-size: 18.1px;
  line-height: 21px;
  letter-spacing: 1.3px;
}
#text-2{
  left: 14px;
  top: 137px;
  font-size: 27.5px;
  line-height: 26.5px;
}
#para-1, #para-2, #para-3{
  top: 133px;
  left: 15px;
  font-size: 13.5px;
  line-height: 18.5px;
  font-family: 'cupra-book', sans-serif;
}
#para-1 .up{
  top: 18px;
  left: 37px;
  position: absolute;
}
#para-2{
  top: 135px;
  line-height: 18px;
}
#para-3{
  top: 135px;
}
#para-3 sup{
  position: absolute;
  right: 10px;
  top: 16px;
}

#legal1, #legal2, #legal3{
  bottom: 6px;
  left: 15px;
  font-size: 7px;
  line-height: 8.3px;
  text-align: left;
  position: absolute;
  font-family: 'cupra-book', sans-serif;
  color: #fff;
}
#legal1 sup{
  position: absolute;
  left: -3px;
  font-size: 7px;
  top: -3px; 
}
#legal3 sup{
  position: absolute;
  left: -7px;
  top: -1px;
  font-size: 7px;
}


#default_exit{
  top:0px;
  left:0px;
  width: 300px;
  height: 250px;
}

.btn{
  position: absolute;
  top:0px;
  left:0px;
  cursor: pointer;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  z-index: 200;
}

:focus{outline: 0}

::-moz-focus-inner{border: 0}