@font-face {
  font-family: 'cupra-book';
  src: url('fonts/subset-Cupra-Book.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cupra-bold';
  src: url('fonts/subset-Cupra-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
strong{
  font-family: 'cupra-bold';
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  height: auto;
}

sup, sub {
  font-size: 50%;
  line-height: 1.2;
}

html, body {
  width:970px;
  height: 250px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height: 250px;
  background-color: #002d39;
  border: solid 1px #000000;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:60
  0px;
  overflow:hidden;
}

.full-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 970px;
  height: auto;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.copy {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.copy span {
  opacity: 0;
  visibility: hidden;
}

.cupra-book {
  font-family: 'cupra-book', sans-serif;
}
#text-1 {
  top: 23px;
  left: 25px;
  font-size: 44px;
  line-height: 41px;
  letter-spacing: 2px;
}
#text-2{
  left: 16px;
  top: 327px;
  font-size: 47.5px;
  line-height: 43.5px;
  letter-spacing: 2.2px;
}
#para-1, #para-2, #para-3{
  top: 113px;
  left: 30px;
  font-size: 18.9px;
  line-height: 23.5px;
  font-family: 'cupra-book', sans-serif;
}
#para-1 .up{
  position: relative;
  font-size: 13px;
}
/* #para-1 .up{
  top: -1px;
  left: 290px;
  position: absolute;
  font-size: 11px;
} */
#para-2{
  top: 116.5px;
  font-size: 18.5px;
  line-height: 24.8px;
}
#para-3{
  top: 116px;
  line-height: 25px;
  font-size: 18.5px;
}
#legal1, #legal2, #legal3{
  bottom: 20px;
  left: 31px;
  font-size: 9px;
  line-height: 10.6px;
  text-align: left;
  position: absolute;
  font-family: 'cupra-book', sans-serif;
  color: #fff;
}
#legal1 sup{
  position: absolute;
  left: -3px;
  top: -2px; 
  font-size: 7px;
}
#legal2{
  left: 30px;
}
#legal2 sup{
  position: absolute;
  left: -3px;
  top: 0px;
  font-size: 6px;
}
#legal3{
  bottom: 10px;
}
#legal3 sup{
  position: absolute;
  left: -7px;
  top: -1px;
  font-size: 7px;
}

#default_exit{
  top:0px;
  left:0px;
  width: 970px;
  height: 250px;
  cursor: pointer;
}

.btn{
  position: absolute;
  top:0px;
  left:0px;
  cursor: pointer;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  z-index: 200;
}

:focus{outline: 0}

::-moz-focus-inner{border: 0}